*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body{
    font-family:'open sans';

}
.contenedor{
    padding: 60px 0;
    width: 90%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
}
.titulo{
    color: #642a73;
    font-size: 30px;
    text-align: center;
    margin-bottom: 60px;
}
/* header */

header{
    width: 100%;
    height: 600px;
    background: #8360c3;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, hsla(161, 61%, 46%, 0.494), hsla(261, 45%, 57%, 0.446)),url(../img/img1.jpg); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, hsla(161, 61%, 46%, 0.494), hsla(261, 45%, 57%, 0.446)),url(../img/img1.jpg); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: cover;
    background-attachment: fixed;
    position: relative;

}
nav{
    text-align: right;
    padding: 30px 50px 0 0;

}
nav > a{
    color: white;
    font-weight: 300;
    text-decoration: none;
    margin-right: 10px;
}
nav > a:hover{
    text-decoration: underline;
}
header .textos-header{
    display: flex;
    height: 430px;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;

}
.textos-header h1{
    font-size: 50px;
    color: #fff;

}
.textos-header h2{
    font-size: 30px;
    font-weight: 300;
    color: #fff;

}
.wave{
    position: absolute;
    bottom: 0;
    width: 100%;
}
/*abour us*/
.contenedor-sobre-nosotros{
    display: flex;
    justify-content: space-evenly;
}
.imagen-about-us{
    width: 48%;
}
.sobre-nosotros .contenido-texto{
    width: 48%;
}
.contenido-texto h3{
    margin-bottom: 15px;


}
.contenido-texto h3 span{
    background: #4d0686;
    color: #fff;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    width: 30px;
    height: 30px;
    padding: 2px;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, .5);
    margin-right: 5px;
}
.contenido-texto p{
    padding: 0px 0px 30px 15px;
    font-weight: 300;
    text-align: justify;
}
/*galeria*/

.portafolio{
    background: #f2f2f2;
}
.galeria-port{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.imagen-port{
    width: 24%;
    margin-bottom: 10px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, .5);

}
.imagen-port > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}
.hover-galeria{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    transform: scale(0);
    background:hsla(273, 91%, 27%, 0.7);
    transition: transform .5s;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.hover-galeria img{
    width: 50px;
}
.hover-galeria p{
    color:#fff;
}
.imagen-port:hover .hover-galeria{
    transform: scale(1);
}
/*tablas*/
h1{
    text-align: center;
}
table{
    margin: 50px;
    caption-side: bottom;
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;

}
th{
    background-color: darkmagenta;
    color: white;
}
caption{
    padding-top: 20px;
    font-style: italic;
}
td,th{
    border: 2px solid black;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;

}
.cantainer-comparar{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;



}
.btn1{
    width: 100px;
    height: 50px;
    border: none;
    color: #ffffff;
    background-color: rgb(111, 8, 170);
    border-radius: 4px;

}
/*clientes*/
.cards{
    display: flex;
    justify-content: space-evenly;
}
.cards .card{
    background: #4d0686;
    display: flex;
    width: 46%;
    height: 200px;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 5px;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.6);

}
.cards .card img{
    width: 100px;
    height: 100px;
    object-fit: cover;
    border: 3px solid #fff;
    border-radius: 50%;
    display: block;

}
.cards .card > .contenedor-texto-card{
    width: 60%;
    color: #fff;
}
.cards .card > .contenedor-texto-card p{
    font-weight: 300;
    padding-top: 5px;

}
/*our temas*/
.about-services{
    background: #f2f2f2;
    padding: 30px;
}
.servicio-cont{
    display: flex;
    justify-content: space-between;
    align-items: center;


}
.servicio-ind{
    width: 28%;
    text-align: center;

}
.servicio-ind img{
    width: 90%;

}
.servicio-ind h3{
    margin: 10px 0 ;
}
.servicio-ind p{
    font-weight: 300;
    text-align: justify;
}

/*footer*/

footer{
    background: #000000;
    padding: 60px 0 30px 0;
    margin: auto;
    overflow: hidden;
}
.contenedor-footer{
    display: flex;
    width: 90%;
    justify-content: space-evenly;
    padding-bottom: 50px;
    border-bottom: 1px solid #ccc;

}
.content-foo{
    text-align: center;
}
.content-foo h4{
    color: #fff;
    border-bottom: 3px solid #db4545;
    padding-bottom: 5px;
    margin-bottom: 10px;
}
.content-foo p{
    color:#ccc;
}
.titulo-final{
    text-align: center;
    font-size: 24px;
    margin: 20px 0 0 0 ;
    color: #ffffff;
}